.hide {
  display: none;
}

.show {
  display: flex;
}

.uspsDivContainerCarrusel {
  width: 100%;
  height: 50px;
  display: none;
  justify-content: space-around;
  color: white;
  background-color: #252f3d;
}

.uspsDivContainerCarrusel div {
  align-items: center;
  height: 22px;
  margin-top: 15px;
}

.checkImgCarrusel {
  width: 18.2px;
  height: 18.2px;
}

.truckImgCarrusel {
  width: 20.28px;
  height: 14.1px;
}

.loveImgCarrusel {
  width: 18.33px;
  height: 16.82px;
  border: 0.2px;
}

.moneBackImgCarrusel {
  width: 16.5px;
  height: 20.54px;
}

.uspsDivContainerCarrusel div p {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
}

.carruselButton{
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 22px;
}

@media (max-width:950px) {
  .uspsDivContainerCarrusel {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #252f3d;
  }
  
  .uspsDivContainerCarrusel div {
    align-items: center;
    height: 22px;
    margin-top: 15px;
  }
  
  .checkImgCarrusel {
    width: 18.2px;
    height: 18.2px;
  }
  
  .truckImgCarrusel {
    width: 20.28px;
    height: 14.1px;
  }
  
  .loveImgCarrusel {
    width: 18.33px;
    height: 16.82px;
    border: 0.2px;
  }
  
  .moneBackImgCarrusel {
    width: 16.5px;
    height: 20.54px;
  }
  
  .uspsDivContainerCarrusel div p {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
  }
}
